/* .hole-page {
    height: 100%;
    min-width: 320px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(148, 110, 110);
    color: #222;
    font-size: 14px;
    -webkit-text-size-adjust: 100%;
} */

#picture-collection {
    flex-wrap: wrap;
}

.picture-card {
    width: 33.33333%;
    height: 50%;
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
} 

.row {
    margin: 10px;
}

.picture-image {
    height: 80%;
    width: 100%;
}

.welcome-bar {
    border: 200px;
    margin: 20px;
    display: flex;
}